<h4 class="mt-0"><%= t('.delivery_details') %></h4>
<hr>
<div class="autolist" data-line-url="<%= erp_qdeliveries.form_detail_backend_delivery_details_path(delivery) %>">
    <div class="autolist-container">

    </div>
    <a href="#add" class="btn btn-primary add-line">
        <i class="fa fa-plus"></i>
    </a>
</div>
